:root{
    font-family: Inter, system-ui, -apple-system,'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}



header{

    width: 296px;
    height: 44px;
    margin:48px 64px ;
}

input[type="text"]{
width: 228px;
height: 19px;
top: 151px;
left: 120px;
border: none;
align-items: center;


}
button{
    width: 151px;
    height: 40px;
  color:#416EDF ;
background-color: #FFCE31;
border-radius: 8px;
border: 1px solid  #FFCE31;
}
fieldset{
justify-content: space-between;
display: flex;
align-items: center;
width: 1384px;
height: 56px;
top: 132px;
left: 64px;
border-radius: 16px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}