/* dasgal1 */
h1 {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
}
i {
    color: rgb(14, 1, 100);
    font-size: 25px;
}
p {
    
    font-weight: 200;
    text-align: center;
}
br {
    margin: 20px;
}


/* dasgal2 */
div {
    background-color: rgb(204, 255, 229);
    text-align: center;
    padding: 30px;
    color: brown;
}
h1 {
    font-weight: 700;
}
/* dasgal3 */