header{
    display: flex;
    justify-content: end;
    gap:34px ;
    padding: 27px 59px;
}
header a {
    text-decoration: none;
    color:#000000 ;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:87px 149px ;
    width: 855px;
    height: 298px;
    margin: 0 auto;
   

}
.box1 button{
    padding: 10px 18px;
    border-radius: 2px;
    border: 1px solid #FF6464;
    background-color:  #FF6464;
    color: #FFFFFF;
}

.box2{
display: flex;
}
