h1 {
    font-size: 50px;
}
.box1 {
    background-color: rgb(55, 55, 158);
    color: azure;
    text-align: center;
}
h2 {
    color: rgb(55, 55, 158);;
}
.container {
    color: azure;
    display: flex;
    justify-content:center;
    align-items: center;
    background:rgb(44, 44, 50);
    height: 50px;
    display: flex;
    
  }
  .box2 {
    display: flex;
    justify-content: space-around;
  }
  .box3 {
    display: flex;
   
  }