h1 {
    color: rgb(171, 6, 105);
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.profile-card {
    border: solid black 10px;
     width: 900px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 20cm;
}
p {
    color: rgb(171, 6, 105);
    font-size: 30px;
    font-weight: 600;
    text-align:center;
}
img {
    width: 400px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.social-link {
    background-color: bisque;
    background-color: rgb(247, 7, 223);
    display: inline-block;
    border-radius: 9pc;
}
.social-link1 {
    background-color: aqua;
    border-radius: 10cqw;
}
div{
background-color: rgb(255, 153, 219);
}