h1 {
    color: rgb(171, 6, 105);
    text-align: center;
    background-color: rgb(222, 166, 255);
    font-size: 50px;
}
div {
    background-color: rgb(255, 127, 210);
}
p {
    font-size: 30px;
    font-weight: 600;
    text-align:center;
}
img {
    width: 400px;
    margin: 0 auto;
    display: block;
}