h1 {
    text-align: center;
    color: brown;
}
img {
    width: 800px;
    margin: 0 auto;
    display: block;
}
h2 {
    text-align: center;
    color: brown;
}
p {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
text-align:right;
}
div {

    background-color:beige;
}
