.register{
    width: 300px;
    border-radius: 20px;
    margin: 20px auto;
    background-color: rgb(237, 186, 224);
    
}
.register input {
    display: block;
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px dashed blueviolets;

}

.register button{
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    background-color: pink;
    color: aliceblue;
    border: 2px dotted white;
    border-radius: 10px;
}
.register legend{
    text-align: center;
    font-size: 30px;
    font-family:  'Courier New', Courier, monospace;
}