.Payment {

    width: 400px;
    border-radius: 20px;
    margin: 20px auto;
    margin-top: 5px;
}
.Payment button {
    width: 95%;
    border-radius: 10px;
    padding: 12px 2px;
    color: #ffffff;
    border: 1px solid rgb(12, 107, 70);
    background-color: rgb(12, 107, 70);
    margin: 0 auto;
    display: block;
}
.Payment input {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px 6px;
    border-radius: 10px;
    border: 1px solid rgb(161, 160, 160);
}
.Payment Div {
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 10px 10px;
    gap: 5px;
}

h2{
    text-align: center;
}
.users{
    width: 400px;
    border-radius: 20px;
    margin: 20px auto;
    margin-top: 5px;
}
.users button{
    width: 95%;
    border-radius: 10px;
    padding: 8px 2px;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(240, 163, 250);
    margin: 0 auto;
    display: block;
}
.users input{
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px 6px;
    border-radius: 10px;
    border: 1px solid rgb(161, 160, 160);
}
.users select{
    width: 95%;
    border-radius: 10px;
    padding: 8px 2px;
    margin: 0 auto;
    display: block;
    border: 1px solid rgb(159, 159, 159);
}
  .users label{
    margin-top: 2px;
    display: block;
}
.a input{
    display: inline;
    padding: 0;
    width: auto;
    margin-right: 10px;
}